h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 2px solid #ddd;
  border: 2px solid rgba(86,61,124,.2);
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
